<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en-US</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en-US</string>
    <string>bg-BG</string>
    <string>cs-CZ</string>
    <string>da-DK</string>
    <string>de-AT</string>
    <string>de-CH</string>
    <string>de-DE</string>
    <string>el-GR</string>
    <string>en-AU</string>
    <string>en-CA</string>
    <string>en-GB</string>
    <string>en-IE</string>
    <string>en-NZ</string>
    <string>en-ZA</string>
    <string>es-AR</string>
    <string>es-CL</string>
    <string>es-CO</string>
    <string>es-ES</string>
    <string>es-MX</string>
    <string>et-EE</string>
    <string>fi-FI</string>
    <string>fr-CA</string>
    <string>fr-FR</string>
    <string>ga-IE</string>
    <string>hr-HR</string>
    <string>hu-HU</string>
    <string>it-IT</string>
    <string>lt-LT</string>
    <string>lv-LV</string>
    <string>mt-MT</string>
    <string>nb-NO</string>
    <string>nl-BE</string>
    <string>nl-NL</string>
    <string>pl-PL</string>
    <string>pt-BR</string>
    <string>pt-PT</string>
    <string>ro-RO</string>
    <string>sk-SK</string>
    <string>sl-SI</string>
    <string>sr-Cyrl-RS</string>
    <string>sr-Latn-RS</string>
    <string>sv-SE</string>
    <string>tr-TR</string>
    <string>uk-UA</string>
  </array>
  <key>CFBundleDisplayName</key>
  <string>FreeX</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>fxl</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>io.github.tony-xmelon.freex.workbook</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>FreeX Workbook</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>xlsx</string>
        <string>xlsm</string>
        <string>xltx</string>
        <string>xltm</string>
        <string>xls</string>
        <string>xlsb</string>
        <string>xlt</string>
        <string>csv</string>
        <string>tsv</string>
        <string>tab</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Spreadsheet Workbooks</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
  </array>
  <key>CFBundleExecutable</key>
  <string>FreeX</string>
  <key>CFBundleIdentifier</key>
  <string>io.github.tony-xmelon.freex</string>
  <key>CFBundleIconFile</key>
  <string>FreeX.icns</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>FreeX</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>io.github.tony-xmelon.freex.workbook</string>
      <key>UTTypeDescription</key>
      <string>FreeX Workbook</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.json</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>fxl</string>
        </array>
        <key>public.mime-type</key>
        <string>application/vnd.freex.workbook+json</string>
      </dict>
    </dict>
  </array>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
