[Desktop Entry]
Type=Application
Version=1.0
Name=FreeW
GenericName=Word Processor
Comment=Open, edit, and save documents
Exec=freew %F
TryExec=freew
Icon=io.github.tony-xmelon.freew
Terminal=false
Categories=Office;WordProcessor;
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/msword;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-flat-xml;
StartupNotify=true
StartupWMClass=FreeW
Keywords=word;document;docx;odt;ott;fodt;writer;text;
